name: Java CI with Maven

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Install local jar with Maven
        run: mvn install:install-file -Dfile=${basedir}/src/main/resources/libs/Sentinel-2.9.2-SNAPSHOT-b527.jar -DgroupId=sentinel -DartifactId=sentinel-trait -Dversion=2.9.2-SNAPSHOT-b527 -Dpackaging=jar -DgeneratePom=true
      - name: Build with Maven
        run: mvn -B package --file ./pom.xml
